@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.root {
    -fx-font-family: 'Outfit', sans-serif;
}

.white-background-pattern {
    -fx-background-color: #D9D9D9;
    -fx-background-image: url("../images/Patron.png");
    -fx-background-size: 35%;
    -fx-background-repeat: repeat;
    -fx-background-position: center;
}

.header-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-margin: 0 100 0 10;
    -fx-padding: 10 20;
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 20;
}

.logout-button {
    -fx-font-size: 15px;
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-text-fill: white;
    -fx-font-weight: 500;
    -fx-padding: 8 20;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-transition: all 0.7s ease;
    -fx-cursor: hand;
}

.logout-button:hover {
    -fx-background-color: #F61067;
    -fx-border-color: #F61067;
    -fx-text-fill: white;
}